<%- include("header") -%>

      <!-- heading -->
      <div class="box" id="heading">
        <h1><%= listTitle %></h1>
      </div>

      <!-- list -->
    <div class="box">
    <!-- <% for( i =0;i<itemList$.length ; i++){ %>
           <div class="item">
               <input type="checkbox">
            <p><%= itemList$[i] %></p>
        </div>
        <%    } %> -->

        <%    itemList$.forEach((item)=>{ %>
          <form action="/delete" method="post">

            <div class="item">
              <input type="checkbox" name="checkbox" value="<%=item._id%>" onChange="this.form.submit()">
           <p><%= item.name %></p>
          </div>
          <input type="hidden" name="listTitle" value="<%=listTitle%>"></input>
          </form>
          
 
    <%    })  %>

        <!-- form of submisison -->
       <form class="item" action="/" method="post">
        <input type="text" name="newItem" placeholder="New Item">
        <button type="submit" name="list" value=<%= listTitle %>>+</button>
      </form>
    </div>

    <%- include("footer") -%>

   